%p.yaml-success
  %i.iconoir-check-circle
  Generated YAML

%pre#yaml-content
  %code.language-yaml= yaml

%footer
  - if defined?(path_ref) && path_ref
    %p.yaml-file-info
      %i.iconoir-folder
      %span
        Source: #{path_ref.path}:#{path_ref.line_no}
  - else
    %p.yaml-instructions
      %i.iconoir-info-circle
      %span
        Copy this YAML and save it to a
        %code .yaml
        file in your resources directory,
        %br
        then reload the application.
  .yaml-actions
    - if defined?(path_ref) && path_ref && defined?(inline_edit_enabled) && inline_edit_enabled
      %button#save-yaml{type: "button", data: { kind: kind, name: name }}
        %i.iconoir-check-circle
        Save to File
    %button#copy-yaml{type: "button", "data-clipboard-target": "#yaml-content"}
      %i.iconoir-copy
      Copy to Clipboard
    %a.secondary{role: "button", href: "javascript:history.back()"}
      %i.iconoir-edit-pencil
      Edit Again
